---
import BaseHead from '../../components/BaseHead.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead
      title='Vision Boards | Hosna Qasmei'
      description="Vision boards I've made."
    />
  </head>
  <body class='bg-zinc-900'>
    <main
      class='mx-auto w-full max-w-screen-md h-screen flex flex-col justify-between px-4 md:px-10'
    >
      <a
        href='/'
        class='flex flex-row space-x-1 text-zinc-400 text-sm items-center group'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='22'
          height='12.38'
          viewBox='0 0 16 9'
          class='group-hover:text-zinc-200 group-hover:-translate-x-1 duration-200'
        >
          <path
            fill='currentColor'
            d='M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5Z'
          ></path>
          <path
            fill='currentColor'
            d='M6 8.5a.47.47 0 0 1-.35-.15l-3.5-3.5c-.2-.2-.2-.51 0-.71L5.65.65c.2-.2.51-.2.71 0c.2.2.2.51 0 .71L3.21 4.51l3.15 3.15c.2.2.2.51 0 .71c-.1.1-.23.15-.35.15Z'
          ></path>
        </svg>
        <span class='group-hover:text-zinc-200'>Back</span>
      </a>
      <div class='flex flex-col space-y-8'>
        <div class='flex flex-col space-y-2'>
          <span class='text-zinc-200 font-[600] text-4xl'>Vision Boards</span>

          <span class='text-zinc-400'
            >Here are my vision boards from the last few years. They've been key
            in helping me stay focused on my goals and areas for improvement.
          </span>
        </div>

        <ul class='grid grid-cols-1 md:grid-cols-2 text-white gap-4'>
          <div class=''>
            <span>2023 Vision Board</span>
            <img
              src='https://res.cloudinary.com/duud9d8dv/image/upload/v1701894928/2023-Vision-Board_ohddch.png'
              alt=''
              class='rounded'
            />
          </div>

          <div>
            <span>2022 Vision Board</span>
            <img
              src='https://res.cloudinary.com/duud9d8dv/image/upload/v1701894928/2022-Vision-Board_jbivbh.png'
              alt=''
              class='rounded'
            />
          </div>

          <div>
            <span>2021 Vision Board</span>
            <img
              src='https://res.cloudinary.com/duud9d8dv/image/upload/v1701894928/2021-Vision-Board_ewytrp.png'
              alt=''
              class='rounded'
            />
          </div>
          <div>
            <span>2020 Vision Board</span>
            <img
              src='https://res.cloudinary.com/duud9d8dv/image/upload/v1701894928/2020-Vision-Board_ao4tsa.png'
              alt=''
              class='rounded'
            />
          </div>
        </ul>
      </div>
    </main>
  </body>
</html>
